.article-detail {
    position: relative;
    background-color: #fff;
    .article-header-wrapper{
      position: relative;
    }
    .image-shadow {
      background: linear-gradient(to top, rgba(10,10,10,1) 0%, rgba(28,28,28,0.9) 9%, rgba(32,32,32,0.8) 15%, rgba(43,43,43,0.5) 24%, rgba(54,54,43,0) 35%);
      z-index: 0;
      width: 100%;
      margin: 0;
      height: 100%;
    }

    .social-links {
        position: absolute;
        top: 560px;
        right: 42px;
        &.sticky {
            position: fixed;
            top: 112px;
            width: 85%;
            left: 94%;
        }


        a {
            display: block;
        }

        .social-link {
            background-image: url('../images/redes.png');
            width: 37px;
            height: 37px;
            display: block;
            margin: 5px 0;

            &.twitter {
                background-position-y: -44px;
            }

            &.linkedin {
                background-position-y: -88px;
            }

            &.attach {
                background-position-y: -132px;
            }

            &.mail {
                background-position-y: -175px;
                width: 35px;
                height: 26px;
            }
        }
    }

    .article-image {
        height: 520px;
        width: 100%;
    }

    .article-header {
        padding-top: 304px;
        position: absolute;
        top: 0;
        color: #fff;
        left: 22%;
        width: 50%;
        text-align: center;
        z-index: 1;
    }

    h1 {
        font-size: 63px;
        font-weight: 300;
        line-height: 1.05;
        margin-top: 26px;
    }

    .article-tag {
        margin-right: 13px;
    }

    .description {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
        padding-bottom: 40px;
        border-bottom: 1px solid #ffe600;
        margin: 0;
    }

    .article-text {
        margin: 0 auto;
        max-width: 784px;
        padding: 40px 0;
        a,
        a:hover {
            color: #296af8;
            text-decoration: none;
        }
    }

    p {
        margin: 1em 0;
        font-size: 17px;
        line-height: 1.41;
    }

    .aligncenter + ul {
        margin-top: 40px;
    }

    .alignleft + ul {
        position: relative;
        left: 26px;
    }

    img + ul {
        padding-right: 26px;
        margin-top: 80px;
    }
    
    ul {
        list-style: disc;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.67;
        margin-left: 25px;
        color: #333;
    }

    li {
        padding-left: 15px;
    }

    h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.17;
        margin-top: 60px;
        clear: both;
    }

    h2 {
        font-size: 34px;
        font-weight: 700;
        line-height: 0.82;
        width: 100%;
        padding-bottom: 17px;
        margin-top: 60px;
        clear: both;
    }
    
    p.description + h2,
    p.description + h3 {
        margin-top: 40px;
    }
    
    hr {
        border-top: 1px solid #333;
        margin-bottom: 60px;
    }
    
    strong {
        font-weight: bold;
    }
    
    .alignright,
    .alignleft {
        width: 50%;
        height: auto;
        margin: 30px 0 70px;
    }

    .alignright {
        float: right;
        padding-left: 26px;
    }

    .alignleft {
        float: left;
        padding-right: 26px;
    }

    .aligncenter {
        display: block;
        margin: 31px auto 40px;
    }
}

.related {
    font-size: 33px;
    font-weight: 300;
    color: #262626;
    margin: 37px 0;
}

.register {
    text-align: center;
    font-size: 19px;
    color: #262626;
    line-height: normal;
    margin-top: 64px;
    strong {
        font-weight: 600;
    }
}

.register__link {
    display: inline-block;
    width: 213px;
    height: 45px;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    background-color: #3483fa;
    line-height: 45px;
    margin-left: 26px;
}

@media (max-width: 767px) {
    .article-detail {

        h1 {
            font-size: 26px;
            font-weight: 600;
            line-height: 1.15;
        }

        .image-shadow {
            display: none;
        }

        .social-links {
            display: none;
        }
        
        .article-header {
            position: relative;
            padding: 0;
            text-align: left;
            color: #333;
            width: 100%;
            left: 0;
            padding: 30px 27px 22px;
        }

        .article-image {
            height: 182px;
        }

        .article-text {
            padding: 32px 27px;
        }

        .description {
            font-size: 15px;
            padding-bottom: 25px;
        }

        .article-date {
            float: right;
        }

        p {
          font-size: 13px;
          line-height: 1.31;
        }

        h3 {
            font-size: 20px;
        }

        h2 {
            font-size: 24px;
        }

        p + h2 {
            margin-top: 45px;
        }

        p + h3,
        p.description + h2,
        p.description + h3 {
            margin-top: 35px;
        }

        hr {
            margin-bottom: 22px;
        }

        .alignleft,
        .alignright {
            float: none;
        }

        .alignleft + ul {
            position: static;
        }
        
        li {
            font-size: 13px;
        }

        .alignleft,
        .alignright,
        .aligncenter {
            width: 100%;
            display: block;
            margin: 13px auto 34px;
            padding: 0;
            height: auto;
        }

        img + ul {
            padding: 0;
            margin-top: 34px;
        }
    }

    .related {
        margin: 25px 0 29px;
        text-align: center;
        font-size: 21px;
    }

    .register {
        margin-top: 43px;
        strong::before {
            content: '';
            display: block;
        }
    }

    .register__link {
        display: block;
        margin: 29px auto 0;
    }
}
