header.nav-header {
    background-color: #FFE600;
    border: none;
    .nav-logo {
        left: 0;
    }
}

.nav-header.nav-header-sticky+main>.nav-bounds,
.nav-header.nav-header-sticky+main>.nav-main-content,
.nav-header.nav-header-sticky~main>.nav-bounds,
.nav-header.nav-header-sticky~main>.nav-main-content {
    padding-top: 104px;
}

.blog-text {
    border-left: 2px solid #333;
    padding-left: 17px;
    margin-top: 11px;
    height: 33px;
    float: left;
    padding-top: 7px;
    font-size: 20px;
    color: #333;
    width: 39px;
    top: 0px;
    position: absolute;
    left: 180px;
}

.search-button {
    float: right;
    padding: 20px 20px 14px;
    line-height: 0;
}

.main-navigation {
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 50px;
}

.main-navigation nav {
    max-width: 1184px;
    margin: 0 auto;
    position: relative;
}

.main-navigation nav .primary-menu {
    padding: 0 15px 0 0;
}

.main-navigation .primary-menu li {
    float: left;
    padding-right: 34px;
}

.main-navigation .primary-menu li:last-child {
    float: right;
    padding-right: 0;
}

.main-navigation .primary-menu .active {
    border-bottom: 4px solid #FFE600;
    font-weight: 700;
}

.main-navigation .primary-menu li a:hover {
    border-bottom: 4px solid #FFE600;
}

.main-navigation .primary-menu li a {
    padding: 17px 0 8px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 4px solid #fff;
}
.main-navigation .primary-menu li:first-child a {
    padding: 16px 16px 6px;
}

.main-navigation .primary-menu li a:visited {
    color: #333;
}

.nav-main-content {
    max-width: 1184px;
    margin: 0 auto;
}

.header-search {
    float: right;
    display: none;
    position: absolute;
    right: 0;
}

.header-search.open {
    display: block;
}

.header-search .search-field {
    padding: 15px;
    height: 54px;
    border: none;
    font-size: 14px;
    width: 373px;
    background-image: url('../images/cross.svg');
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 20px;
    z-index: 1;
}

.search-remove {
    width: 54px;
    height: 54px;
    display: inline-block;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.header-search .label-field {
    font-size: 16px;
    color: #333;
}

.header-search .select-field {
    font-size: 16px;
    color: #333;
}

.header-search .categories-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 9px;
}

.header-search .categories-dropdown a {
    font-size: 16px;
    text-decoration: none;
    color: #333;
}

.header-search .categories-dropdown .dropdown-toggle {
    font-weight: 600;
}

.header-search .categories-select {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 147px;
    list-style: none;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    padding: 22px 22px 0;
    margin: 16px 0;
    margin-right: -12px;
}

.header-search .categories-select li {
    padding-bottom: 25px;
}

.header-search .categories-select li .selected {
    font-weight: 600;
}

#nav-header-share-switch {
    display: none;
}

.header-search .categories-select.open {
    display: block;
}

[for="nav-header-share-switch"] {
    display: none;
    position: absolute;
    right: 50px;
    top: 0;
    width: 50px;
    height: 50px;
}

.mobile-share-holder {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-header-share-switch:checked+.mobile-share {
    display: block;
}

.mobile-share-holder .mobile-share {
    display: none;
    position: absolute;
    top: 100%;
    left: 6.5px;
}

.mobile-share__list {
    margin-top: 9px;    
}

.mobile-share__list-item:first-child .social-link{
    margin-top: 0;
}

.social-link {
    background-image: url('../images/redes-mobile.png');
    width: 37px;
    height: 37px;
    display: block;
    margin: 5px 0;
    text-indent: 9999px;
    overflow: hidden;

    &.twitter {
        background-position-y: -44px;
    }

    &.linkedin {
        background-position-y: -88px;
    }

    &.whatsapp {
        background-position-y: -132px;
    }

    &.mail {
        background-position-y: -175px;
        width: 35px;
        height: 26px;
    }
}

@media (max-width: 1100px) {

    .main-navigation .primary-menu li {
        padding-right: 19px;
    }

    .main-navigation .primary-menu li a {
        font-size: 14px;
    }

    .header-search .label-field {
        font-size: 14px;

    }
    .header-search .categories-dropdown a {
        font-size: 14px;
    }

    .header-search .categories-dropdown {
        margin-right: 5px;
    }
}
@media (max-width: 767px) {
    
    header.nav-header {
        .nav-logo {
            left: 10px;
        }
    }
    
    .header-search.open {
        display: none;
    }

    [for="nav-header-share-switch"] {
        display: block;
    }

    .blog-text {
        left: 65px;
    }
    .header-search .search-field {
        border-bottom: 1px solid #c2c2c2;
    }
    .search-button {
        display: none;
    }

    .main-navigation {
        height: 0;
    }

    #nav-primary-menu{
        display: none;
    }

    #nav-header-menu-switch:checked+.nav-bounds+.nav-header-menu-wrapper #nav-primary-menu {
        display: block;
        background: #fff;
        float: left;
        width: 100%;
        text-align: center;
        position: relative;
    }

    #nav-header-menu-switch:checked+.nav-bounds .header-search,
    #nav-header-menu-switch:checked+.nav-bounds .header-search.open {
        display: block;
        float: none;
        position: absolute;
        top: 50px;
        width: 100%;
        z-index: 1;

        .label-field {
            display: none;
        }

        .categories-dropdown {
            display: none;
        }

        .search-field {
            width: 100%;
            text-align: center;
            padding-left: 35px;
            background-image: url('../images/search-2.svg');
            background-repeat: no-repeat;
            background-position-x: 37%;
            background-position-y: 14px;
            z-index: 999;
        }

        .left-search-field {
            text-align: left;
            background-position-x: 95%;
            background-position-y: 14px;
        }

    }

    .back-blur {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(51, 51, 51, 0.77);
        z-index: 998;
    }


    .main-navigation nav .primary-menu {
        padding: 50px 0 30px;
    }

    .main-navigation .primary-menu li {
        float: none;
        padding-right: 0;
    }

    .main-navigation .primary-menu li:last-child {
        float: none;
    }

    .main-navigation .primary-menu li a {
        font-size: 26px;
        padding: 0 0 36px;
        border: 0;
    }

    .main-navigation .primary-menu li:first-child a {
        padding: 36px 0 32px;
    }

    .main-navigation .primary-menu li a svg {
        width: 25px;
        height: 25px;
    }

    .main-navigation .primary-menu .active {
        border: 0;
    }

    .main-navigation .primary-menu li a:hover {
        border: 0;
    }


    .nav-header.nav-header-sticky+main>.nav-bounds,
    .nav-header.nav-header-sticky+main>.nav-main-content,
    .nav-header.nav-header-sticky~main>.nav-bounds,
    .nav-header.nav-header-sticky~main>.nav-main-content {
        padding-top: 50px;
    }

}
