.nav-header.nav-header-sticky+main>.nav-bounds,
.nav-header.nav-header-sticky+main>.nav-main-content,
.nav-header.nav-header-sticky~main>.nav-bounds,
.nav-header.nav-header-sticky~main>.nav-main-content {
    padding-top: 104px;
}

.blog-text {
    border-left: 2px solid #333;
    padding-left: 17px;
    margin-top: 11px;
    height: 33px;
    float: left;
    padding-top: 7px;
    font-size: 20px;
    color: #333;
    width: 39px;
    top: 0px;
    position: absolute;
    left: 190px;
}

.search-button {
    float: right;
    padding: 20px 20px 14px;
    line-height: 0;
}

.search-button.open {
    background-color: #fff;
}

.main-navigation {
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 50px;
}

.main-navigation nav {
    max-width: 1220px;
    margin: 0 auto;
}

.main-navigation nav .primary-menu {
    padding: 0 15px;
}

.main-navigation .primary-menu li {
    float: left;
    padding-right: 34px;
}

.main-navigation .primary-menu .active {
    border-bottom: 4px solid #ffe600;
    font-weight: 600;
}

.main-navigation .primary-menu li a:hover {
    border-bottom: 4px solid #ffe600;
}

.main-navigation .primary-menu li a {
    padding: 16px 0 8px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 4px solid #fff;
}

.main-navigation .primary-menu li a:visited {
    color: #333;
}

.nav-main-content {
    max-width: 1220px;
    margin: 0 auto;
}

.header-search {
    float: right;
    display: none;
}

.header-search.open {
    display: block;
}

.header-search .search-field {
    padding: 15px;
    height: 50px;
    border: solid 1px #c2c2c2;
    border-bottom: 0;
    font-size: 14px;
    width: 317px;
}

.header-search .label-field {
    font-size: 16px;
    color: #333;
}

.header-search .select-field {
    font-size: 16px;
    color: #333;
}

.header-search .categories-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 9px;
}

.header-search .categories-dropdown a {
    font-size: 16px;
    text-decoration: none;
    color: #333;
}

.header-search .categories-dropdown .dropdown-toggle {
    font-weight: 600;
}

.header-search .categories-select {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 147px;
    list-style: none;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    padding: 22px 22px 0;
    margin: 14px 0;
    margin-right: -12px;
}

.header-search .categories-select li {
    padding-bottom: 25px;
}

.header-search .categories-select li .selected {
    font-weight: 600;
}

.header-search .categories-select.open {
    display: block;
}

@media (max-width: 1100px) {

    .main-navigation .primary-menu li {
      padding-right: 19px;
    }
    .main-navigation .primary-menu li a {
        font-size: 14px;
    }
    .header-search .label-field {
      font-size: 14px;

    }
    .header-search .categories-dropdown a {
      font-size: 14px;
    }

    .header-search .search-field {
        width: 178px;
    }
    .header-search .categories-dropdown {
      margin-right: 5px;
    }
}
@media (max-width: 767px) {
    .blog-text {
        left: 65px;
    }

    .search-button {
        display: none;
    }

    .main-navigation {
      height: 0px;
    }

    #nav-primary-menu{
      display: none;
    }

    #nav-header-menu-switch:checked+.nav-header-menu-wrapper #nav-primary-menu {
        display: block;
        background: #fff;
        float: left;
        width: 100%;
        text-align: center;
        position: relative
    }

    #nav-header-menu-switch:checked+.nav-header-menu-wrapper .header-search {
        display: block;
        float: none;
        position: absolute;
        top: 0;
        width: 100%;

        .label-field {
            display: none;
        }

        .categories-dropdown {
            display: none;
        }

        .search-field {
            width: 100%;
            text-align: center;
            border-bottom: solid 1px #c2c2c2;
        }

    }

    .main-navigation .primary-menu li {
        float: none;
    }

    .main-navigation .primary-menu li a{
        font-size: 26px;
        padding-bottom: 36px;
    }

    .main-navigation .primary-menu li a svg{
        width: 25px;
        height: 25px;
        margin-top: 82px;
    }

    .main-navigation .primary-menu .active {
        border: 0;
    }


    .nav-header.nav-header-sticky+main>.nav-bounds,
    .nav-header.nav-header-sticky+main>.nav-main-content,
    .nav-header.nav-header-sticky~main>.nav-bounds,
    .nav-header.nav-header-sticky~main>.nav-main-content {
        padding-top: 50px;
    }

}
