body {
    background-color: #f2f2f2;
    font-family: 'Proxima Nova', 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333;
}

.rotate {
    transform: rotate(180deg);
}

[class*='mesh-col-'] {
    padding: 7px;
}

.nav-main-content a {
    text-decoration: none;
    color: white;

    &:hover,
    &:active {
        text-decoration: none;
        color: white;
    }
}

.article-tag {
    background-color: #ffe600;
    border: solid 1px #ffe600;
    color: #333;
    font-size: 11px;
    font-weight: 600;
    border-radius: 2px;
    padding: 4px 6px;
    text-transform: uppercase;
}

.article-date {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
