.search {

    .search-header {
        margin: 28px 0 23px;
    }

    .search-content {
        border-top: 1px solid #333;
    }

    .results-text {
        font-size: 19px;
        line-height: 1.26;
        display: block;
        margin-bottom: 10px;
    }

    .results-word {
        font-size: 29px;
        font-weight: 600;
        line-height: 0.83;
        margin-top: 10px;
    }

    .results-count {
        float: right;
        font-size: 15px;
        line-height: 1.6;
    }
}

@media (max-width: 767px) {
  .search {

      .results-count {
          display: none;
      }

      .search-header {
          margin: 27px 13px 24px 27px;
      }

  }
}
